:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/IMS_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
}

.message-container {
  width: auto;
  max-width: 70%;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.sender {
  background-color: rgb(11, 186, 245, 0.7);
  color: rgb(255, 255, 255); 
  align-self: end;
  align-items: end;
}

.receiver {
  background-color: rgb(156, 7, 156, 0.7);
  color: white;
  align-self: flex-start;
  align-items: start;
}

.message-timestamp {
  margin-top: 5px;
  font-size: 12px;
  font-weight: 500;
  color: #000000;
}

@media (max-width: 768px) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
